{% extends 'admin/utils-page.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/custom_css/site-manage.css' %}">
{% endblock %}

{% block content %}
    <div class="slogan-manage box-style">
        <div class="content-header">
            <span>首页标语设置</span>
        </div>
        <div class="content-body">
            <form role="form" class="mt-2" id="slogan-manage">
                {% csrf_token %}
                <label for="slogan1">标语一：</label>
                <input type="text" class="form-control mb-3" value="{{ slogan1 }}" id="slogan1" name="slogan1">
                <label for="slogan2">标语二：</label>
                <input type="text" class="form-control mb-3" value="{{ slogan2 }}" id="slogan2" name="slogan2">
                <label for="intro">首页产品简介：</label>
                <textarea name="intro" class="form-control mb-3" id="intro" cols="30" rows="4">{{ intro }}</textarea>
                <button type="submit" class="btn btn-primary float-end">提交修改</button>
            </form>
        </div>
    </div>
    <div class="site-manage-main box-style">
        <div class="content-header">
            <span>首页联系方式设置</span>
        </div>
        <div class="site-setting content-body">
            <form role="form" class="mt-2" id="siteSetting">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="site-phone">联系电话：</label>
                        <input type="text" class="form-control" id="site-phone" name="site-phone"
                               value="{{ site_settings.phone_number }}" required>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="site-title">网站标题：</label>
                        <input type="text" class="form-control" id="site-title" value="{{ site_settings.site_title }}"
                               name="site-title" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="site-email">邮箱：</label>
                        <input class="form-control" type="email" id="site-email" value="{{ site_settings.mail }}"
                               name="site-email" required>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="company-address">公司地址：</label>
                        <input type="text" class="form-control" id="company-address"
                               value="{{ site_settings.company_address }}" name="company-address" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-end">提交修改</button>
            </form>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">提示</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                您的更改已保存。
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'admin/js/site-manage.js' %}"></script>
{% endblock %}
