.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4rem;
    padding: 20px;
    width: 100%;
    background-image: url("../imgs/about-bg.jpg");
    background-position-y: -68px;
    margin-bottom: 4rem;
}

.about-title {
    flex: 0 0 55%;
}

.about-images {
    flex: 1;
}

.about-title h1 {
    font-weight: bold;
    font-size: 44px;
}

.about-title span {
    margin-left: 6px;
    color: rgb(153, 153, 153);
    font-size: 22px;
}

.sec-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(33, 91, 185);
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-con-text {
    word-break: break-all;
    color: rgb(70, 70, 70);
    line-height: 2;
}

.about-con-text p {
    margin-bottom: 24px;
}

.about-images img {
    width: 80%;
    object-fit: contain;
    float: right;
    margin-right: 2rem;
    border-bottom-left-radius: 60px;
}
