.reserve-container {
    max-width: 1500px;
}

.product-content {
    display: flex;
    padding: 20px 0;
}

.product-content .product-list {
    flex: 8;
    width: 100%;
    height: 30vh;
    background-color: #0d6efd;
    margin-left: 1.5rem;
}

.product-content .category-list {
    user-select: none;
    flex: 2;
}

.product-content .category-list-text {
    padding: 20px;
    color: #fff;
    background-color: #215bb9;
}

.product-content .category-list-text h4 {
    margin: 0;
}

.product-content .category-list ul {
    margin: 0;
    padding: 0;
}

.product-content .category-list li {
    display: block;
    list-style: none;
    padding: 13px 0 13px 20px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    transition: background-color .3s ease;
    background-color: #f5f5f5;
    color: #666666;
}

.product-content .category-list li:hover {
    color: #fff;
    background-color: #4d515a;
}

.product-content .category-list li:last-child {
    border-bottom: none;
}
