.reserve-container {
    max-width: 1500px;
}

.product-content {
    display: flex;
    padding: 20px 0;
}

.product-content .category-list {
    user-select: none;
    flex: 2;
    margin-right: 1.5rem;
}

.product-content .category-list-text {
    padding: 20px;
    color: #fff;
    background-color: #215bb9;
}

.product-content .category-list-text h4 {
    margin: 0;
}

.product-content .category-list ul {
    margin: 0;
    padding: 0;
}

.product-content .category-list li {
    display: block;
    list-style: none;
    padding: 13px 0 13px 20px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    transition: background-color .3s ease;
    background-color: #f5f5f5;
    color: #666666;
}

.product-content .category-list li:hover, .product-content .category-list .hover {
    color: #fff;
    background-color: #4d515a;
}

.product-content .category-list li:last-child {
    border-bottom: none;
}

.phone-category-list {
    cursor: pointer;
    width: 100%;
    color: #fff;
    padding: 20px 15px;
    margin-top: 1.5rem;
    text-align: center;
    border-radius: 2px;
    background-color: #353843;
    display: none;
}

@media (max-width: 1200px) {
    .category-list {
        display: none;
    }

    .phone-category-list {
        display: block;
    }
}

.offcanvas-category-list {
    padding: 0;
}

.offcanvas-category-list li {
    list-style: none;
    cursor: pointer;
    width: 100%;
    background-color: #f5f5f5;
    color: #666666;
    padding: 20px;
    border-bottom: 1px solid #e1e1e1;
    transition: background-color .3s ease;
}

.offcanvas-category-list li:hover {
    color: #fff;
    background-color: #4d515a;
}

.product-content .product-list {
    flex: 8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loop-item {
    flex: 0 0 33.3%;
    padding: 10px;
}

.product-detail {
    display: block;
    border: 1px solid #ccc;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
}

.product-detail .product-name {
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .loop-item {
        flex: 0 0 50%;
    }
}
