{% extends 'isolation-utils.html' %}
{% load static %}

{% block children_css %}
    <link rel="stylesheet" href="{% static 'front/css/about-us.css' %}">
{% endblock %}

{% block below_isolation_content %}
    <div class="about-content">
        <div class="about-title">
            <h1 class="d-inline-block">关于我们</h1>
            <span>About Us</span>
            <div class="sec-title">邢台市丰迪机械有限公司</div>
            <div class="about-con-text">
                <p>
                    邢台市丰迪机械有限公司是您线束设备领域的可靠合作伙伴。我们专注于研发、生产和销售高品质的线束设备，拥有先进的生产设备和技术精湛的专业团队。</p>
                <p>
                    我们的产品以高效生产和精准加工为特点，具有稳定的运行性能和出色的耐用性。不论是汽车制造、电子设备生产还是其他行业，我们的设备都能够广泛应用，满足客户多样化的需求。</p>
                <p>
                    作为一家追求卓越品质的企业，我们不断努力提升产品性能，致力于为客户提供更好的解决方案。无论您有何特殊需求，我们都能为您量身定制快速、高效的设计方案。</p>
                <p>
                    如果您对线束设备的选择和使用有任何疑问，欢迎随时联系我们。我们的专业技术团队将竭诚为您提供详尽的解答和咨询服务。信任源于品质，服务创造未来。邢台市丰迪机械有限公司期待与您携手共创美好明天！</p>
            </div>
        </div>
        <div class="about-images">
            <img src="{% static 'front/imgs/high-rise.png' %}" alt="">
        </div>
    </div>
{% endblock %}
