{% extends 'header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'front/css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="large-screen">
        <div class="dark-cover"></div>
        <div class="background-video">
            <video src="{% static 'front/videos/170724_10_Setangibeach.mp4' %}" muted autoplay loop playsinline></video>
        </div>
        <div class="introduction">
            <h1>{{ back_data.slogan1 }}</h1>
            <h3>{{ back_data.slogan2 }}</h3>
        </div>
        <div class="next">
            <div class="next-logo" id="next-logo"></div>
        </div>
    </div>
    <div class="product" id="product">
        <div class="container-lg">
            <div class="block-title fs-3">产品系列</div>
            <hr>
            <div class="product-describe container">
                {{ back_data.intro }}
            </div>
            <div class="row">
                {% for product in show_product %}
                    <div class="col-md-3">
                        <a class="product-detail" href="/product-detail/?product-id={{ product.id }}">
                            <img src="{{ media_base_url }}{{ product.product_image }}" alt="">
                            <div class="product-name">{{ product.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="application-area">
        <div class="fs-2 text-center link-light">
            <span style="letter-spacing: 1px;">application</span>
            <div class="fs-5 mt-1">———— 应用领域 ————</div>
        </div>
        <div class="container mt-4">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <img src="{% static 'front/imgs/app1.png' %}" alt="">
                    <div class="container">
                        <div class="app-name">
                            <h4>汽车制造</h4>
                        </div>
                        <div class="app-desc">
                            汽车行业是线束自动化生产设备的主要应用领域之一。汽车内部包含大量的电子线束，用于连接各种传感器、控制单元和电动系统。线束自动化生产设备可以提高生产效率、降低成本，并确保线束的质量和一致性。
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'front/imgs/app2.png' %}" alt="">
                    <div class="container">
                        <div class="app-name">
                            <h4>航空航天</h4>
                        </div>
                        <div class="app-desc">
                            航空航天行业也广泛使用线束自动化生产设备，用于制造飞机、卫星和其他航空航天设备的电子线束。高精度和可靠性是这些应用的关键要求，线束自动化生产设备能够满足这些要求。
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'front/imgs/app3.png' %}" alt="">
                    <div class="container">
                        <div class="app-name">
                            <h4>工业自动化</h4>
                        </div>
                        <div class="app-desc">
                            工业自动化领域需要大量的电子线束，用于连接各种传感器、执行器和控制系统。线束自动化生产设备可以帮助工厂提高生产效率、降低人力成本，并实现更高的生产质量。
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'front/imgs/app4.png' %}" alt="">
                    <div class="container">
                        <div class="app-name">
                            <h4>家电和消费电子</h4>
                        </div>
                        <div class="app-desc">
                            家电和消费电子产品中也广泛使用电子线束，用于连接各种传感器、显示屏和控制系统。线束自动化生产设备可以帮助制造商提高生产效率，并确保产品的一致性和质量。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="read-more mt-5 text-center">
                <a href="/products/" class="btn btn-light">查看更多</a>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="container">
            <div class="company-name">
                <h1>邢台市丰迪机械有限公司</h1>
            </div>
            <div class="line"></div>
            <div class="company-desc">
                <p>
                    邢台市丰迪机械有限公司是您线束设备领域的可靠合作伙伴。我们专注于研发、生产和销售高品质的线束设备，拥有先进的生产设备和技术精湛的专业团队。</p>
                <p>
                    我们的产品以高效生产和精准加工为特点，具有稳定的运行性能和出色的耐用性。不论是汽车制造、电子设备生产还是其他行业，我们的设备都能够广泛应用，满足客户多样化的需求。</p>
                <p>
                    作为一家追求卓越品质的企业，我们不断努力提升产品性能，致力于为客户提供更好的解决方案。无论您有何特殊需求，我们都能为您量身定制快速、高效的设计方案。</p>
                <p>
                    如果您对线束设备的选择和使用有任何疑问，欢迎随时联系我们。我们的专业技术团队将竭诚为您提供详尽的解答和咨询服务。信任源于品质，服务创造未来。邢台市丰迪机械有限公司期待与您携手共创美好明天！</p>
            </div>
        </div>
        <div class="read-more container">
            <a href="#">了解更多 →</a>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'front/js/index.js' %}"></script>
    {% endblock %}
{% endblock %}
