{% extends 'isolation-utils.html' %}
{% load static %}

{% block children_css %}
    <link rel="stylesheet" href="{% static 'front/css/products.css' %}">
{% endblock %}

{% block below_isolation_content %}
    <div class="phone-category-list" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-product"
         aria-controls="offcanvas-product">
        全部分类
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-product"
         aria-labelledby="offcanvas-product-label">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvas-product-label">全部分类</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas-category-list">
                {% for category in all_categories %}
                    <li class="load-commodity" value="{{ category.category }}">
                        {{ category.category }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="product-content">
        <div class="category-list">
            <div class="category-list-text"><h4>全部分类</h4></div>
            <ul>
                {% for category in all_categories %}
                    <li class="load-commodity" value="{{ category.category }}">
                        {{ category.category }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-list" data-high-light="{{ label_highlight }}">
            {% for product in result_product_list %}
                <div class="loop-item">
                    <a class="product-detail" href="/product-detail?product-id={{ product.id }}">
                        <div class="product-img-box">
                            <img src="{{ media_base_url }}{{ product.product_image }}" alt="">
                        </div>
                        <div class="product-name">{{ product.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% block product_detail %}{% endblock %}
    </div>
    {% block more_detail %}{% endblock %}
{% endblock %}

{% block script %}
    <script src="{% static 'front/js/products.js' %}"></script>
    {% block children_script %}{% endblock %}
{% endblock %}
