{% extends 'isolation-utils.html' %}
{% load static %}

{% block children_css %}
    <link rel="stylesheet" href="{% static 'front/css/products.css' %}">
{% endblock %}

{% block below_isolation_content %}
    <div class="phone-category-list">
        全部分类
{#    todo: 手机兼容，点击使用bootstrap搞出侧边栏存放所有类别#}
    </div>
    <div class="product-content">
        <div class="category-list">
            <div class="category-list-text"><h4>全部分类</h4></div>
            <ul>
                {% for category in all_categories %}
                    <li class="load-commodity" value="{{ category.category }}">
                        {{ category.category }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-list" data-high-light="{{ label_highlight }}">
            {% for product in result_product_list %}
                <p>{{ product.name }} - {{ product.category }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'front/js/products.js' %}"></script>
{% endblock %}
