.custom_card_panel {
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.source_panel {
    display: inline-block;
    padding-top: 30px;
    width: 300px;
    height: 180px;
}
